//variables
$primary-color: #722727;
$secondary-color: #007bff;
$main-color: #3498db;
$background-color: #d1dedd;
$text-color: #fff;
$font-stack: Arial, Helvetica, sans-serif;
$hover-color: rgb(190, 164, 149);
